/data/minecraft/
/data/resourcepack/
/.gradle/
/build/
/bin/
/region_testing/
export.png
export.obj
export.mtl
brewing_stand.obj
brewing_stand.mtl


i saw a person with a haloween hat on hypixel
i was confused for a solid like 5 minutes because i didnt have anything like figura installed (1.8.9) and i didnt have a resource pack on
after some googling i learned it was optifine